---
import MainLayout from "../../layouts/main-layout.astro";
---

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/alpha_style.css">
    <title></title>
</head>

<MainLayout>
    <body>
        <div class="carousel-container">
            <div class="img1">image1</div>
            <div class="img2">image2</div>
            <div class="img3">image3</div>
        </div>     
    </body>
</MainLayout>
   