---
export async function getStaticPaths() {
    return [
        { params: { tag: "game1"}},
        { params: { tag: "game2"}}
    ];
}

const { tag } = Astro.params;
---

<div>
    this is tag: {tag}
</div>

<!-- 
---
export async function getStaticPaths() {
    const boardgames = await fetchPostsFromSomeAPI();
    
    return boardgames.map((game) => {
      return {
        params: { slug: game.slug },
        props: { game },
      };
    });
---
  } -->