---
import MainLayout from "../layouts/main-layout.astro";
import Card from "../components/game-card.astro";
import CategoryCard from "../components/category-card.astro";

const allGames = await Astro.glob("./game-details/*");
---
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/alpha_style.css">
    <title>Board Games</title>
</head>
<MainLayout>
    <body>
        <section id="categories-section" class="container">
            <div class="categories">
                <h2>Categories</h2>
                <p>There are many board game categories to choose from:</p>
                <div class="grid-container">
                    <CategoryCard
                        title = "Strategy Games"
                        img = "/strat-icon.png"
                        description = 18
                    />
                    <CategoryCard
                        title = "Bluffing Games"
                        img = "/strat-icon.png"
                        description = 10
                    />
                    <CategoryCard
                        title = "Cooperative Games"
                        img = "/strat-icon.png"
                        description = 4
                    />
                    <CategoryCard
                        title = "Party Games"
                        img = "/strat-icon.png"
                        description = 6
                    />
                    <CategoryCard
                        title = "Creative Games"
                        img = "/strat-icon.png"
                        description = 6
                    />
                    <CategoryCard
                        title = "Beginner-Friendly Games"
                        img = "/strat-icon.png"
                        description = 11
                    />
                     <!-- Repeat the category div for other categories -->
                </div>
                <div class="see-more">
                    <!-- Link to categories page -->
                    <a href="#">See more</a>
                </div>
              </div>
        </section>

            <!-- To check what object the fronmatter contains print out the json file: {JSON.stringify(game)} -->
    {
        allGames.map( game => (
            <div>
                Title: {game.frontmatter.title} which {game.frontmatter.description}
                <a href={game.url}>Read More</a>
            </div>
        ))
    }

        <section id="all-games-section" class="container">
            <h2>All Board Games</h2>
            <p>These are all the board games in Alpha Wolf's collection and their designated location. </p>
            <!-- Section for sort / filter functions -->
            <div class="sort-filter-container">
                <div class="sort">
                    <label for="sort-select">Sort by:</label>
                    <select id="sort-select">
                        <option value="a-z">A-Z</option>
                        <option value="z-a">Z-A</option>
                    </select>
                </div>
                <div class="filter">
                    <label for="category-select">Filter by Categories:</label>
                    <select id="category-select">
                        <option value="all">All Categories</option>
                        <option value="strategy">Strategy Games</option>
                        <option value="family">Family Games</option>
                        <option value="party">Party Games</option>
                        <!-- Add more categories as needed -->
                    </select>
                </div>
                <div class="filter">
                    <label for="category-select">Filter by Location:</label>
                    <select id="category-select">
                        <option value="MBL">Makerbox Laos</option>
                        <option value="Stella">Stella</option>
                        <option value="L6">Lak6</option>
                        <option value="NN">Nongnieng</option>
                        <!-- Add more categories as needed -->
                    </select>
                </div>
            </div>
            <!-- Game list starts here -->
            <div class="grid-list">
                <!-- Game Item -->
                <Card
                    title = "Power Grid"
                    body = "A game where you assume the role of electricity provider and generate it to cities!"
                    href = "/game-details/power-grid"
                    img = "/powergrid.jpeg"
                    description = "Location: Banmuang Village Xaysettha District, Vientiane"
                />
                <div class="game-item">
                    <img src="file:///Users/tingchannavong/Desktop/AWsite/img/powergrid.jpeg" alt="Power Grid" class="game-image">
                    <div class="game-details">
                        <h3 class="game-title">Power Grid</h3>
                        <p class="game-description">
                            A game where you assume the role of electricity provider and generate it to cities! However, as plants are purchased, newer, more efficient plants become available, so by merely purchasing, you're potentially allowing others access to superior equipment.

                            Additionally, players must acquire the raw materials (coal, oil, garbage, and uranium) needed to power said plants (except for the 'renewable' windfarm/ solar plants, which require no fuel), making it a constant struggle to upgrade your plants for maximum efficiency while still retaining enough wealth to quickly expand your network to get the cheapest routes.
                        </p>
                        <p class="game-category">Category: Strategy Games</p>
                        <p class="game-location">Location: Banmuang Village Xaysettha District, Vientiane</p>
                    </div>
                    <div class="game-meta">
                        <!-- To provide individual links to each game, this is just a demo link to the blueprint -->
                        <a href="file:///Users/tingchannavong/Desktop/AWsite/game-details.html" class="game-read-more">Read more</a>
                    </div>
                </div>
                <div class="game-item">
                    <img src="forbidden island.jpeg" alt="Forbidden Island" class="game-image">
                    <div class="game-details">
                        <h3 class="game-title">Forbidden Island</h3>
                        <p class="game-description">
                        A game where you assume the role of electricity provider and generate it to cities! However, as plants are purchased, newer, more efficient plants become available, so by merely purchasing, you're potentially allowing others access to superior equipment.
    
                        Additionally, players must acquire the raw materials (coal, oil, garbage, and uranium) needed to power said plants (except for the 'renewable' windfarm/ solar plants, which require no fuel), making it a constant struggle to upgrade your plants for maximum efficiency while still retaining enough wealth to quickly expand your network to get the cheapest routes.
                        </p>
                        <p class="game-category">Category: Cooperative Games</p>
                        <p class="game-location">Location: Banmuang Village Xaysettha District, Vientiane</p>
                    </div>
                    <div class="game-meta">
                        <a href="file:///Users/tingchannavong/Desktop/AWsite/game-details.html" class="game-read-more">Read more</a>
                    </div>
                </div>
                <!-- Repeat this block for each game -->
            </div>
    
            <!-- Pagination Section -->
            <div class="pagination-section">
                <div class="show-results">
                    <label for="show">Show:</label>
                    <select id="show" name="show">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                    </select>
                </div>
                <div class="pagination">
                    <button class="pagination-btn-next"><</button>
                    <button class="pagination-btn">1</button>
                    <button class="pagination-btn">2</button>
                    <button class="pagination-btn">3</button>
                    <button class="pagination-btn">...</button>
                    <button class="pagination-btn">10</button>
                    <button class="pagination-btn-next">></button>
                </div>
            </div>
        </section>
    </body>
    
</MainLayout>
