---
import MainLayout from "../layouts/main-layout.astro";
import CategoryCard from "../components/category-card.astro";
---
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/alpha_style.css">
    <title>Services</title>
    <script src="../scripts/filter.ts"></script>
</head>
<MainLayout>
    <body>
        <section id="categories-section" class="container">
            <div class="categories">
                <h2>Services</h2>
                <p>There are many board game services to choose from:</p>
                <div class="grid-container">
                    <a id="cat_1" href="">
                        <CategoryCard
                            title="Boardgame Cafe"
                            img="https://api.iconify.design/material-symbols:coffee-outline.svg"
                            description={1}
                        />
                    </a>

                    <a id="cat_2" href="">
                        <CategoryCard
                            title="Boardgame Sale"
                            img="https://api.iconify.design/material-symbols:sell-outline.svg"
                            description={10}
                        />
                    </a>

                    <a id="cat_4" href="">
                        <CategoryCard
                            title="Private Hosting"
                            img="https://www.svgrepo.com/show/535437/home.svg"
                            description={6}
                        />
                    </a>

                    <a id="cat_5" href="">
                        <CategoryCard
                            title="Public Events"
                            img="https://api.iconify.design/material-symbols:groups-outline.svg"
                            description={6}
                        />
                    </a>

                    <a id="cat_6" href="">
                        <CategoryCard
                            title="Corporate Team Building"
                            img="https://api.iconify.design/material-symbols:corporate-fare.svg"
                            description={11}
                        />
                    </a>
                     <!-- Repeat the category div for other categories -->
                </div>
              </div>
            </section>
    </body>
</MainLayout>