---
import MainLayout from "../layouts/main-layout.astro";
---
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/alpha_style.css">
    <title>Contact Us</title>
</head>
<MainLayout>
    <body>
        <section class="container">
            <div class="contact-container">
                <div class="contact-left-view">
                    <h1 class="feedback-title"> Contact Us</h1> 
                    <form class="feedback-form">
                        <input type="email" class="input-field" placeholder="Enter your email..." required>
                        <input type="text" class="input-field" placeholder="Enter your name..." required>
                        <input type="text" class="input-field full-width" placeholder="Title..." required>
                        <textarea class="input-field textarea-field" placeholder="Message..." required></textarea>
                        <button type="submit" class="submit-button text">Send</button>
                    </form>
                </div>
                <div class="follow-right-view"> 
                    <h1 class="feedback-title"> Follow Us</h1>
                    <div class="form-row">
                        <span><img src="/fb.png" alt="Facebook Icon" class="social-icon"></span>
                        <h3>Facebook</h3>
                        <a href="https://www.facebook.com/alphawvbc/" target="_blank" class="social-link">@alphawvbc</a>
                    </div>
                    <div class="form-row">
                        <span><img src="/tiktok.jpeg" alt="Tiktok Icon" class="social-icon"></span>
                        <h3>TikTok</h3>
                        <a href="https://www.tiktok.com/@alphawolfvbc" target="_blank" class="social-link">@alphawolfwvbc</a>
                    </div>
                    <div class="form-row">
                        <span><img src="/ig.png" alt="Instagram Icon" class="social-icon"></span>
                        <h3>Instagram</h3>
                        <a href="https://www.instagram.com/alphagameshop_/" target="_blank" class="social-link">@alphagameshop</a>
                    </div>
                    <div>
                        <h1> Maps </h1>
                    </div>
                </div>
            </div>
        </section>
    </body>
    
</MainLayout>