---
import MainLayout from "../layouts/main-layout.astro";
import FilterCard from "../components/category-filter.astro";
---
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/alpha_style.css">
    <title>Filter Results</title>
    <script src="../scripts/filter.ts"></script>
</head>
<MainLayout>
    <body>
        <section id="filtered-section" class="container" aria-label="Filtered Results">
            <h2 id="filter_readout"></h2>
            <div class="sort-filter-container">
                <FilterCard/>
            </div>
            <!-- Game list starts here -->
            <div id="search_results" class="grid-list">
                <!-- Render filtered game results items -->
            </div>
        </section>
    </body>
</MainLayout>