---
import MainLayout from "../layouts/main-layout.astro";
---
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/alpha_style.css">
    <title>Search Games</title>
    <script src="../scripts/search.ts"></script> 
</head>
<MainLayout>
    <body>
        <section id="game-cards-section" class="container" aria-label="Search Results">
            <h2 id="search_readout"></h2>
            <Fuk>
            <!-- Game list starts here -->
            <div id="search_results" class="grid-list">
                <!-- Render game results items -->
            </div>
        </section>
    </body>
</MainLayout>