<header>
    <div class="flex-container">
        <div><img src="/logo.png" alt="Alpha Wolf Vientiane BoardGame Club" style="width:200px;height:90px;" class="logo"></div>
        <div class="nav-bar"><nav>
            <ul>
                <li><a href="/" >Home</a></li>
                <li><a href="/boardgames/1" target="_blank">Board Games</a></li>
                <li><a href="/categories">Categories</a></li>
                <li><a href="/about" >About us</a></li>
                <!-- style="border-bottom: 2px solid;" -->
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav></div>
        <div class="search-bar">
            <input type="text" placeholder="Search game...">
        </div>
        <div><a href="#" class="login-btn">Log in</a></div>
    </div>
</header>

<body>
    <slot />
</body>

<footer class="footer">
    <div class="footer-logo">
        <img src="/logo.png" alt="Alpha Wolves Logo">
    </div>
    <nav class="footer-nav">
    	<li><a href="/">Home</a></li>
        <li><a href="/boardgames/1" target="_blank">Board Games</a></li>
        <li><a href="/categories">Categories</a></li>
        <li><a href="/about">About us</a></li>
        <li><a href="/contact">Contact</a></li>
    </nav>
</footer>

<div class="copyright-section">
    <p class="copyright">© Copyright Happy Media. All Rights Reserved</p>
</div>

